<form name="customerServiceEmail" class="form" ng-submit="$ctrl.send(customerServiceEmail)" ng-if="!$ctrl.success" novalidate>
	<div ng-if="!$ctrl.isLoggedIn">
		<label class="customerservice__label">
			{{::$ctrl.translations.Customerservice.Email.Name}}<br />
			<input class="form__input form__no-margin"
				   type="text"
				   ng-minlength="1"
				   required
				   ng-model="$ctrl.email.name">
		</label>

		<label class="customerservice__label">
			{{::$ctrl.translations.Customerservice.Email.Email}}<br />
			<input class="form__input form__no-margin"
				   type="text"
				   ng-pattern="$ctrl.emailRegexPattern"
				   ng-minlength="6"
				   required
				   ng-model="$ctrl.email.FromAddress">
		</label>
	</div>

	<div ng-if="$ctrl.isLoggedIn">
		<label class="customerservice__label">
			{{::$ctrl.translations.Customerservice.Email.Reason}}<br />

			<span class="form__modern-select form__modern-select_fill form__no-margin">
				<select ng-model="$ctrl.email.reason">
					<option value="{{reason.Type}}" ng-repeat="reason in $ctrl.reasons">{{reason.Type}}</option>
				</select>
			</span>
		</label>

		<label class="customerservice__label">
			{{::$ctrl.translations.Customerservice.Email.OrderNum}}<br />

			<span class="form__modern-select form__modern-select_fill form__no-margin">
				<select ng-model="$ctrl.email.order">
					<option value="{{order.id}}" ng-repeat="order in $ctrl.orders">{{order.OrderDate}} - {{order.OrderNumber}}</option>
				</select>
			</span>
		</label>
	</div>

	<label class="customerservice__label">
		{{::$ctrl.translations.Customerservice.Email.CommentLabel}}<br />
		

		<textarea class="form__textarea"
				  ng-model="$ctrl.email.comment"
				  ng-minlength="1"
				  required
				  placeholder="{{::$ctrl.translations.Customerservice.Email.CommentPlaceholder}}"></textarea>
	</label>

	<button class="btn" ng-bind="::$ctrl.translations.Customerservice.Email.SendButtonText"></button>
</form>

<div ng-if="$ctrl.success">
	<p ng-bind-html="::$ctrl.translations.Customerservice.Email.ConfirmationText"></p>
</div>