doctype transitional
html(ng-app="mindModule")
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        title
            | Mind
        script(src="/scripts/angular-1.5.8.min.js")
        script(src="/scripts/main.js")
        

        block head
        
    body
        mind-actor 1