<ng-include src="'company-name'"></ng-include>

<div class="row">
	<div class="row__col-4 row__col-6_below-small">
		<ng-include src="'first-name'"></ng-include>
	</div>

	<div class="row__col-4 row__col-6_below-small">
		<ng-include src="'middle-name'"></ng-include>
	</div>

	<div class="row__col-4 row__col-12_below-small">
		<ng-include src="'last-name'"></ng-include>
	</div>
</div>

<div class="row">
	<div class="row__col-3 row__col-3_below-small">
		<ng-include src="'postal-code'"></ng-include>
	</div>

	<div class="row__col-9 row__col-9_below-small postal-district">
		<ng-include src="'postal-district'"></ng-include>
		<span ng-show="$ctrl.formData.InvoiceAddressIsDeliveryAddress" ng-click="$ctrl.changeDeliveryZone()" class="icon icon_pencil checkout__pencil"></span>
	</div>
</div>

<div class="row">
	<div class="row__col-9">
		<ng-include src="'street-name'"></ng-include>
	</div>

	<div class="row__col-3">
		<ng-include src="'house-number'"></ng-include>
	</div>
</div>

<div class="row">
	<div class="row__col-3">
		<ng-include src="'house-location-letter'"></ng-include>
	</div>
	<div class="row__col-3">
		<ng-include src="'house-location-floor'"></ng-include>
	</div>
	<div class="row__col-3">
		<ng-include src="'house-location-side'"></ng-include>
	</div>
	<div class="row__col-3">
		<ng-include src="'house-location-doorNumber'"></ng-include>
	</div>
</div>

<div class="row">
	<div class="row__col-6">
		<ng-include src="'invoice-address-mobil-phone'"></ng-include>
	</div>
	<div class="row__col-6">
		<ng-include src="'invoice-address-phone'"></ng-include>
	</div>
</div>

<div class="row">
	<div class="row__col-6">
		<ng-include src="'ean-number'"></ng-include>
	</div>
	<div class="row__col-6">
		<ng-include src="'cvr'"></ng-include>
	</div>
</div>
