<section id="SignUp-section" class="checkout__sign-up-section">


	<newsletter-info model="$ctrl.formData.HasNewsLetterSubscription"></newsletter-info>



	<div class="form__checkbox form__checkbox_child" ng-show="$ctrl.formData.HasNewsLetterSubscription">
		<input
			type="checkbox"
			name="DiscountSubscription"
			id="DiscountSubscription"
			ng-checked="$ctrl.formData.HasNewsLetterSubscription"
			ng-model="$ctrl.formData.DiscountSubscription"
		/>
		<label for="DiscountSubscription">
			{{ ::$ctrl.translations.Checkout.Signup.SignupToDiscountsText }}</label>
		<div class="form__ui">
			<span class="icon_check"></span>
		</div>
	</div>


	<div class="form__checkbox form__checkbox_child" ng-show="$ctrl.formData.HasNewsLetterSubscription">
		<input
			type="checkbox"
			name="RecipeSubscription"
			id="RecipeSubscription"
			ng-model="$ctrl.formData.RecipeSubscription"
		/>
		<label for="RecipeSubscription">
			{{ ::$ctrl.translations.Checkout.Signup.SignupToRecipesText }}</label>
		<div class="form__ui">
			<span class="icon_check"></span>
		</div>
	</div>

	<!--<div class="form__checkbox">
		<input
			type="checkbox"
			name="HasNewsBySMSSubscription"
			id="HasNewsBySMSSubscription"
			ng-model="$ctrl.formData.HasNewsBySMSSubscription"
		/>
		<label for="HasNewsBySMSSubscription">{{
			::$ctrl.translations.Checkout.Signup.SignupToDiscountSMSText }}<span
				class="checkout__notification color_primary">{{ ::$ctrl.translations.Checkout.Signup.SignupToDiscountSMSNotificationText }}</span></label>
		<div class="form__ui">
			<span class="icon_check"></span>
		</div>
	</div>-->

	<sms-info model="$ctrl.formData.HasNewsBySMSSubscription"></sms-info>
</section>
