<div class="filter-mobile__overlay-handle" toggle-filter-overlay
	 ng-class="{'visible': $ctrl.showFilters, 'hidden': !$ctrl.showFilters}">
	<span class="filter-mobile__handle-text">{{::$ctrl.translations.Filter.MobileFilters.FilterHandleText}}</span>
</div>

<div class="filter-mobile__overlay" toggle-filter-overlay></div>

<div class="filter__wrapper filter__mobile">
	<div class="filter-mobile__top">
		<span class="filter-mobile__header">{{::$ctrl.translations.Filter.MobileFilters.FilterHeaderText}}</span>

		<div class="filter-mobile__close-button" toggle-filter-overlay></div>
	</div>
	<div class="filter__category-wrapper">
		<div class="filter__group" ng-repeat="category in $ctrl.facets track by $index" ng-switch="$index">

			<!-- Not accordion group -->
			<div ng-switch-when="0">
				<div class="form__checkbox filter__item filter__item_mobile"
					 ng-repeat="item in $ctrl.facets[$index].Items">

					<input type="checkbox"
						   class="filter__item-checkbox"
						   value="{{::item.UrlName}}"
						   ng-change="$ctrl.updateFilter()"
						   ng-model="item.IsSelected"
						   ng-disabled="item.Amount < 1"
						   name="{{::$ctrl.facetIdPrefix}}--{{::$parent.$index}}{{::$index}}-{{::item.UrlName}}-{{::$ctrl.affix}}"
						   id="{{::$ctrl.facetIdPrefix}}--{{::$parent.$index}}{{::$index}}-{{::item.UrlName}}-{{::$ctrl.affix}}"/>
					<label for="{{::$ctrl.facetIdPrefix}}--{{::$parent.$index}}{{::$index}}-{{::item.UrlName}}-{{::$ctrl.affix}}"
						   class="filter__item-label filter__item-label_mobile label_{{::item.UrlName}}">{{::item.Text}}
						({{::item.Amount}})</label>

					<div class="form__ui filter__item-faux-checkbox">
						<span class="icon_check"></span>
					</div>
				</div>
			</div>

			<!-- Accordion group -->
			<div ng-switch-default>
				<accordion ng-if="!$ctrl.showOnlyImportantFilters">
					<toggle class="filter__group-header filter__accordion-toggle">{{::category.Text}}</toggle>

					<content class="accordion-content">
						<div class="form__checkbox filter__item filter__item_mobile"
							 ng-repeat="item in $ctrl.facets[$index].Items">

							<input type="checkbox"
								   class="filter__item-checkbox"
								   value="{{::item.UrlName}}"
								   ng-change="$ctrl.updateFilter()"
								   ng-model="item.IsSelected"
								   ng-disabled="item.Amount < 1"
								   name="{{::$ctrl.facetIdPrefix}}--{{::$parent.$index}}{{::$index}}-{{::item.UrlName}}-{{::$ctrl.affix}}"
								   id="{{::$ctrl.facetIdPrefix}}--{{::$parent.$index}}{{::$index}}-{{::item.UrlName}}-{{::$ctrl.affix}}"/>
							<label for="{{::$ctrl.facetIdPrefix}}--{{::$parent.$index}}{{::$index}}-{{::item.UrlName}}-{{::$ctrl.affix}}"
								   class="filter__item-label filter__item-label_mobile label_{{::item.UrlName}}">{{::item.Text}}
								({{::item.Amount}})</label>

							<div class="form__ui filter__item-faux-checkbox">
								<span class="icon_check"></span>
							</div>

						</div>
					</content>
				</accordion>
			</div>

		</div>
		<div class="filter__group">
			<accordion>
				<toggle class="filter__group-header filter__accordion-toggle">
					{{::$ctrl.translations.Filter.Sorting.Title}}
				</toggle>

				<content class="accordion-content">
					<div class="filter__item filter__item_mobile filter__item-label" ng-repeat="item in $ctrl.sortingOptions"
						 ng-click="$ctrl.changeSorting(item.UrlName)">
						{{item.Title}}
						<span class="icon_check" ng-show="$ctrl.sorting === item.UrlName"></span>
					</div>
				</content>
			</accordion>
		</div>
	</div>
	<div class="filter-mobile__bottom">
		<button class="filter-mobile__action-button btn btn_cancel" ng-click="$ctrl.updateFilter(true)">
			{{::$ctrl.translations.Filter.MobileFilters.ClearFilters}}
		</button>
		<button class="filter-mobile__action-button btn btn_apply" toggle-filter-overlay>
			{{::$ctrl.translations.Filter.MobileFilters.ApplyFilters}}
		</button>
	</div>
</div>
