<div class="filter-list-important" ng-if="$ctrl.showFilters = true">
	<div ng-repeat="item in $ctrl.facets[0].Items" class="form__checkbox filter__item filter__item_important label_{{::item.UrlName}}">
		<input type="checkbox"
			   class="filter__item-checkbox"
			   ng-change="$ctrl.updateFilter()"
			   value="{{::item.UrlName}}"
			   ng-model="item.IsSelected"
			   name="filter-{{$index}}-{{item.UrlName}}-{{::$ctrl.affix}}"
			   ng-disabled="item.Amount < 1"
			   id="filter-{{$index}}-{{item.UrlName}}-{{::$ctrl.affix}}" />
		<label for="filter-{{$index}}-{{item.UrlName}}-{{::$ctrl.affix}}" class="filter__item-label">{{::item.Text}} <span class="filter__label-quantity">({{::item.Amount}})</span></label>
		<div class="form__ui filter__item-faux-checkbox">
			<span class="icon_check"></span>
		</div>
	</div>
	<!-- Filter sorting -->
	<div class="filter-sorting-wrapper">
		<label class="modern-select-label" for="filter-sorting">{{::$ctrl.translations.Filter.Sorting.Title}}</label>
		<div class="form__modern-select">
			<select id="filter-sorting" ng-change="$ctrl.changeSorting()" ng-model="$ctrl.sorting" ng-options="item.UrlName as item.Title for item in $ctrl.sortingOptions"></select>
		</div>
	</div>
</div>
