<div ng-switch="$ctrl.cardType" class="payment-card payment-card__{{$ctrl.cardSize}}" >
	<img src="/SCom/images/icon_card_amex.svg" ng-attr-alt="{{::$ctrl.cardType}}" ng-switch-when="AMEX">
	<img src="/SCom/images/icon_card_amex.svg" ng-attr-alt="{{::$ctrl.cardType}}" ng-switch-when="AMEX(DK)">
	<img src="/SCom/images/icon_card_dankort.svg" ng-attr-alt="{{::$ctrl.cardType}}" ng-switch-when="DK">
	<img src="/SCom/images/icon_card_dankort.svg" ng-attr-alt="{{::$ctrl.cardType}}" ng-switch-when="V-DK">
	<img src="/SCom/images/icon_card_jcb.svg" ng-attr-alt="{{::$ctrl.cardType}}" ng-switch-when="JCB">
	<img src="/SCom/images/icon_card_maestro.svg" ng-attr-alt="{{::$ctrl.cardType}}" ng-switch-when="MTRO">
	<img src="/SCom/images/icon_card_maestro.svg" ng-attr-alt="{{::$ctrl.cardType}}" ng-switch-when="MTRO(DK)">
	<img src="/SCom/images/icon_card_mastercard.svg" ng-attr-alt="{{::$ctrl.cardType}}" ng-switch-when="MC">
	<img src="/SCom/images/icon_card_mastercard.svg" ng-attr-alt="{{::$ctrl.cardType}}" ng-switch-when="MC(DK)">
	<img src="/SCom/images/icon_card_mastercard.svg" ng-attr-alt="{{::$ctrl.cardType}}" ng-switch-when="MC(SE)">
	<img src="/SCom/images/icon_card_visa.svg" ng-attr-alt="{{::$ctrl.cardType}}" ng-switch-when="VISA">
	<img src="/SCom/images/icon_card_visa.svg" ng-attr-alt="{{::$ctrl.cardType}}" ng-switch-when="VISA(SE)">
	<img src="/SCom/images/icon_card_visaelectron.svg" ng-attr-alt="{{::$ctrl.cardType}}" ng-switch-when="ELEC">
	<img src="/SCom/images/icon_card_unknown.svg" ng-attr-alt="Unknown" ng-switch-default>
</div>
