<div class="mobilemenu__wrapper" id="mobile-menu-wrapper">
    <ul class="mobilemenu__list mobilemenu__list_parents">
        <li class="mobilemenu__item">
            <a class="mobilemenu__link mobilemenu__link_parent" ng-class="{'mobilemenu__link_active':$ctrl.parentLevels.length == 0}"
               href="/">{{$ctrl.homepageTitle}}</a>
        </li>
        <li class="mobilemenu__item" ng-repeat="page in $ctrl.parentLevels">
            <a class="mobilemenu__link mobilemenu__link_parent" ng-class="{'mobilemenu__link_active' : page.Active }"
               ng-href="{{::page.Url}}">{{::page.Text}}</a>
        </li>
    </ul>


    <ul class="mobilemenu__list mobilemenu__list_children">
        <li class="mobilemenu__item" ng-repeat="page in $ctrl.currentLevel">
            <a class="mobilemenu__link"
               ng-class="{'mobilemenu__link_active':page.Active, 'mobilemenu__link_has-children' : page.Children.length>0}"
               ng-href="{{::page.Url}}">{{::page.Text}}</a>
        </li>
    </ul>

    <ul class="mobilemenu__list">
        <li class="mobilemenu__item"  ng-show="!isLoggedIn" view-logged-in>
            <a class="mobilemenu__link mobilemenu__link_extra" ng-href="{{$ctrl.settingsService.settings.LoginPageUrl}}">
                {{::$ctrl.translationsService.translations.Header.TranslationService.Login}}
                <span class="mobilemenu__icon icon_lock"></span>
            </a>
        </li>
        <li class="mobilemenu__item"  ng-show="!isLoggedIn" view-logged-in>
            <a class="mobilemenu__link mobilemenu__link_extra" ng-href="{{$ctrl.settingsService.settings.CreateUserPageUrl}}">
                {{::$ctrl.translationsService.translations.Header.TranslationService.CreateUser}}
                <span class="mobilemenu__icon icon_user"></span>
            </a>
        </li>
        <li class="mobilemenu__item"  ng-show="isLoggedIn" view-logged-in>
            <a class="mobilemenu__link mobilemenu__link_extra" ng-href="{{$ctrl.settingsService.settings.MyNemligPageUrl}}">
                {{::$ctrl.translationsService.translations.Header.TranslationService.MyNemligAccount}}
                <span class="mobilemenu__icon icon_user"></span>
            </a>
        </li>
        <li class="mobilemenu__item"  ng-show="isLoggedIn" view-logged-in>
            <a class="mobilemenu__link mobilemenu__link_extra" href="#" logout>
                {{::$ctrl.translationsService.translations.Header.TranslationService.Logout}}
                <span class="mobilemenu__icon icon_lock"></span>
            </a>
        </li>
        <li class="mobilemenu__item" >
            <a class="mobilemenu__link mobilemenu__link_extra" ng-href="{{$ctrl.settingsService.settings.CustomerServicePageUrl}}">
                {{::$ctrl.translationsService.translations.Header.TranslationService.CustomerService}}
                <span class="mobilemenu__icon icon_phone"></span>
            </a>
        </li>
    </ul>

</div>
