<label>{{ ::$ctrl.translations.Checkout.CustomerAddressInformation.PostalCode }}*</label>
<input
	ng-model="$ctrl.formData.InvoiceAddress.PostalCode"
	required
	ng-minlength="3"
	ng-maxlength="4"
	maxlength="4"
	pattern="[0-9]*"
	name="PostalCode"
	type="tel"
	tabindex="-1"
	ng-disabled="$ctrl.formData.InvoiceAddressIsDeliveryAddress"
	placeholder="{{ ::$ctrl.translations.Checkout.CustomerAddressInformationPlaceholder.PostalCodePlaceholder }}"
	class="form__input" />

<div class="form__error-msg">
	<div ng-show="checkoutForm.$submitted" ng-messages="checkoutForm.PostalCode.$error" role="alert">
		<div ng-messages-include="validation-messages"></div>
	</div>
</div>