<div class="row change-address__description">
	{{ :: $ctrl.translations.Checkout.ChangeAddress.ChangeAddressZipCodeDescription }}
</div>

<form
	id="lookUpZipCodeForm"
	name="lookUpZipCodeForm"
	ng-submit="$ctrl.submitLookupZipCode(lookUpZipCodeForm, $ctrl.zipCode)"
	novalidate>

	<div class="dialog__content-block">
		<div class="input-wrapper">
			<label>{{ :: $ctrl.translations.Checkout.ChangeAddress.ChangeAddressInputLabel }}*</label>
			<input type="tel"
				id="zipCode"
				name="zipCode"
				ng-model="$ctrl.zipCode"
				min-value="100"
				max-value="9990"
				maxlength="4"
				pattern="[0-9]*"
				placeholder="{{ :: $ctrl.translations.Checkout.ChangeAddress.CheckZipCodeButtonPlaceholderText }}"
				class="form__input change-address__zipcode-input"
				ng-disabled="$ctrl.states.IsPending" />
		</div>

	
		<div class="modal__input-wrapper">
			<button id="checkZipCodeSubmit"
				ng-disabled="$ctrl.zipCode == undefined || $ctrl.zipCode == 0000 || $ctrl.zipCode.length < 3 || $ctrl.states.IsPending || lookUpZipCodeForm.zipCode.$invalid"
				type="submit"
				class="btn btn_fill">{{ :: $ctrl.translations.Checkout.ChangeAddress.CheckZipCodeButtonText }}
			</button>
		</div>
	</div>
</form>
