
<nemlig-loader ng-show="$ctrl.states.fetching" inverted="true" class="nemlig-loader nemlig-loader_overlay"></nemlig-loader>


<form name="loginForm" ng-show="!$ctrl.resetPasswordMode && !$ctrl.userServiceStates.isLoggedIn" ng-submit="loginForm.$valid && $ctrl.loginSubmit($ctrl.formData.userEmail, $ctrl.formData.userPassword, $ctrl.formData.remember)" novalidate>

	<h1 class="login__header">{{::$ctrl.translations.Authentication.Login.Welcome}}</h1>

	<label>{{::$ctrl.translations.Authentication.Login.UsernameLabel}}</label>
	<input type="email"
		   class="form__input login-username-field testEmailFieldOnLogin"
		   name="userEmail"
		   autocomplete="off"
		   ng-model="$ctrl.formData.userEmail"
		   value="$ctrl.formData.userEmail"
		   ng-minlength="2"
		   ng-maxlength="64"
		   ng-pattern="/^[a-zA-Z0-9_-]+(?:\.[a-zA-Z0-9_-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$/"
		   placeholder="{{::$ctrl.translations.Authentication.Login.UsernamePlaceholder}}"
		   tabindex="1"
		   required />

	<div class="form__error-msg form__error-msg_white">
		<ng-messages for="loginForm.userEmail.$error" ng-show="loginForm.userEmail.$touched" role="alert">
			<ng-message when="minlength">{{::$ctrl.translations.Authentication.Login.TooShortEmail}}</ng-message>
			<ng-message when="maxlength">{{::$ctrl.translations.Authentication.Login.TooLongEmail}}</ng-message>
			<ng-message when="pattern">{{::$ctrl.translations.Authentication.Login.InvalidEmail}}</ng-message>
			<ng-message when="required">{{::$ctrl.translations.Authentication.Login.EmailRequired}}</ng-message>
		</ng-messages>
	</div>

	<div class="login__divider"></div>

	<label>{{::$ctrl.translations.Authentication.Login.PasswordLabel}}</label>
	<input type="password"
		   class="form__input login-password-field testPasswordFieldOnLogin"
		   autocomplete="off"
		   name="userPassword"
		   ng-model="$ctrl.formData.userPassword"
		   placeholder="{{::$ctrl.translations.Authentication.Login.PasswordPlaceholder}}"
		   tabindex="2"
		   required />

	<div class="form__error-msg form__error-msg_white">
		<ng-messages for="loginForm.userPassword.$error" ng-show="loginForm.userEmail.$touched" role="alert">
			<ng-message when="required">{{::$ctrl.translations.Authentication.Login.PasswordRequired}}</ng-message>
		</ng-messages>
	</div>

	<div class="login__divider"></div>

	<div class="login__settings">

		<div class="form__checkbox">
			<input type="checkbox"
				   ng-model="$ctrl.formData.remember"
				   name="remember"
				   id="remember"
				   tabindex="3" class="testSaveDataCheckBoxOnLogin" />
			<label for="remember"> {{::$ctrl.translations.Authentication.Login.RememberMe}}</label>
			<div class="form__ui">
				<span class="icon_check"></span>
			</div>
		</div>
		<a class="login__forgot-password testForgotPasswordOnLogin" ng-click="$ctrl.resetPasswordMode = true">{{::$ctrl.translations.Authentication.Login.ForgotPassword}}</a>
	</div>

	<button type="submit" class="login__btn btn btn_fit testLoginButton">
		<span ng-class="{'login__button_hidden':$ctrl.fetching}">{{::$ctrl.translations.Authentication.Login.SubmitButton}}</span>
	</button>

	<div class="login__feedback">
		<div ng-switch="$ctrl.states.loginErrorType">
			<div ng-switch-when="UserNotActivated">
				<resend-activation-mail
					text="{{$ctrl.activateUserAccount.message}}"
					link="{{$ctrl.activateUserAccount.activationId}}">
				</resend-activation-mail>
			</div>
			<div ng-switch-default>
				<div ng-show="$ctrl.states.authorizeError">{{::$ctrl.translations.Authentication.Login.ErrorUserNotAuthorized}}</div>
				<div ng-show="$ctrl.states.loginError" ng-bind-html="$ctrl.states.currentServerError"></div>
			</div>
		</div>
	</div>

	<a class="login__create-user testRegistrationBtnOnLogin" ng-show="$ctrl.allowCreate" ng-href="{{$ctrl.settingsService.settings.CreateUserPageUrl}}"><span class="icon icon_user"></span> {{::$ctrl.translations.Authentication.Login.CreateUser}}</a>
</form>


<form name="resetForm" ng-show="$ctrl.resetPasswordMode" ng-submit="resetForm.$valid && $ctrl.resetSubmit($ctrl.formData.userEmail)" novalidate>

	<h1 class="login__header">{{::$ctrl.translations.Authentication.ResetPassword.Title}}</h1>
	<div class="login__description" ng-hide="$ctrl.states.resetSuccess">{{::$ctrl.translations.Authentication.ResetPassword.Description}}</div>

	<div ng-show="!$ctrl.states.resetSuccess">
		<input type="email"
			   class="form__input"
			   name="userEmail"
			   	ng-model="$ctrl.formData.userEmail"
				ng-minlength="6"
				ng-maxlength="64"
				ng-pattern="$ctrl.emailRegexPattern"
			   placeholder="{{::$ctrl.translations.Authentication.ResetPassword.TypeYourEmail}}"
			   Required />

		<div class="form__error-msg form__error-msg_white">
			<ng-messages for="resetForm.userEmail.$error" ng-show="resetForm.userEmail.$touched" role="alert">
				<div ng-messages-include="email-validation-messages"></div>
			</ng-messages>
		</div>

		<div class="login__feedback">
			<div ng-show="$ctrl.states.resetError" ng-bind-html="$ctrl.currentServerError"></div>
		</div>

		<button type="submit" class="btn btn_primary btn_fit">
			<span ng-class="{'login__button_hidden':$ctrl.fetching}">{{::$ctrl.translations.Authentication.ResetPassword.SubmitButton}}</span>
		</button>
	</div>

	<div class="login__description" ng-show="$ctrl.states.resetSuccess">
		{{ $ctrl.translations.Authentication.ResetPassword.MailHasBeenSent }}
	</div>

	<div class="login__divider divider divider_light"></div>

	<a class="login__forgot-email" ng-click="$ctrl.resetPasswordMode = false">{{::$ctrl.translations.Authentication.ResetPassword.GoToLogin}}</a>

	<div class="login__forgot-email">
		<a ng-href="{{$ctrl.settingsService.settings.CustomerServicePageUrl}}">{{::$ctrl.translations.Authentication.ResetPassword.ForgotEmail}}
		{{::$ctrl.translations.Authentication.ResetPassword.ContactCustomerService}}</a>
	</div>
</form>


<div ng-show="$ctrl.userServiceStates.isLoggedIn">
	<div class="login__description">{{::$ctrl.translations.Authentication.Login.WelcomeLoggedIn}}</div>
	<button type="submit" ng-click="$ctrl.logout()" class="btn btn_primary btn_fit">

		<span>{{::$ctrl.translations.Authentication.Login.LogOutButton}}</span>
	</button>
</div>
