
<section class="jobofferings__section">
    <h2>{{::$ctrl.translations.JobOfferings.AvailablePositions.Title}}</h2>
    <div>{{::$ctrl.translations.JobOfferings.AvailablePositions.Description}}</div>

    <div class="jobofferings__container">
        <a href="{{::job.AdvertisementUrl}}" target="_blank" class="jobofferings__item" ng-repeat="job in $ctrl.jobs" ng-if="job.ProjectType == 'RecruitmentProject'">
            <div class="jobofferings__link"><b>{{::job.Name}}</b></div>
            <div>{{::$ctrl.translations.JobOfferings.AvailablePositions.PositionExpirationDate}} {{::job.ApplicationDue | jsonDate | date:"dd-MM-yyyy"}}</div>
        </a>
    </div>
</section>

<section class="jobofferings__section">
    <h2>{{::$ctrl.translations.JobOfferings.OpenPositions.Title}}</h2>
    <div>{{::$ctrl.translations.JobOfferings.OpenPositions.Description}}</div>

    <div class="jobofferings__container">
        <a href="{{::job.AdvertisementUrl}}" target="_blank" class="jobofferings__item" ng-repeat="job in $ctrl.jobs" ng-if="job.ProjectType == 'OpenApplication'">
            <div class="jobofferings__link"><b>{{::job.Name}}</b></div>
            <div>{{::job.ShortDescription}}</div>
        </a>
    </div>

</section>

<section class="jobofferings__section">
    <h2>{{::$ctrl.translations.JobOfferings.User.JobagentTitle}}</h2>
    <div>{{::$ctrl.translations.JobOfferings.User.JobagentDescription}}</div>
    <a class="jobofferings__link" href="{{$ctrl.loginUrl}}" target="_blank">{{::$ctrl.translations.JobOfferings.User.JobagentLink}}</a>
    <br /> <br />
    <h2>{{::$ctrl.translations.JobOfferings.User.LoginTitle}}</h2>
    <div>{{::$ctrl.translations.JobOfferings.User.LoginDescription}}</div>
    <a class="jobofferings__link" href="{{$ctrl.createUserUrl}}" target="_blank">{{::$ctrl.translations.JobOfferings.User.LoginLink}}</a>
</section>
