<div class="media-spot recipe-spot" 
    ng-if="$ctrl.hasRecipeItem"
    ng-class="{'hide-on-mobile': !$ctrl.VisibleOnMobile, 'in-basket': $ctrl.uiStates.inBasket, 'show-summary': $ctrl.uiStates.showBasketSummary}">
	
	<div class="spot__content">

		<div class="spot__media-container">
			<a ng-href="{{::$ctrl.updatedSpotData.Recipe.Url}}" 
                class="spot__media-image" 
                ng-style="$ctrl.updatedSpotData.Recipe.PrimaryImage && {'background-image': 'url(&quot;' + $ctrl.updatedSpotData.Recipe.PrimaryImage + '&w=800&h=550&mode=max&quality=70&quot;)'}"></a>

            <div class="recipespot__tags-list" ng-show="!$ctrl.recipeData.inBasket && $ctrl.updatedSpotData.Recipe.TotalTime">
                <div class="recipespot__tag">
                    {{::$ctrl.updatedSpotData.Recipe.TotalTime}}
                </div>
            </div>

            <div ng-show="$ctrl.uiStates.showLoader" class="component-loader">
                <nemlig-loader class="nemlig-loader nemlig-loader_large" inverted="false"></nemlig-loader>
            </div>
		</div>

		<div class="spot__text-box">
			<h1 class="spot__headline" ng-switch="$ctrl.updatedSpotData.Header == ''">
                <a ng-href="{{::$ctrl.updatedSpotData.Recipe.Url}}" ng-switch-when="false">{{::$ctrl.updatedSpotData.Header}}</a>
                <a ng-href="{{::$ctrl.updatedSpotData.Recipe.Url}}" ng-switch-when="true">{{::$ctrl.updatedSpotData.Recipe.Name}}</a>
            </h1>

            <div class="recipe-spot__interface">
                <div class="recipe-spot__controls-column">
                    <div class="form__modern-select">
                        <select ng-change="$ctrl.changeServings()" 
                                ng-model="$ctrl.servingsPending" 
                                ng-options="option + ' ' + $ctrl.translationsService.translations.Recipe.Common.Servings for option in $ctrl.updatedSpotData.Recipe.AllowedForNumberOfPersons"></select>
                    </div>
                </div>

                <div class="recipe-spot__controls-column">
                    <div class="form__modern-select">
                        <select ng-change="$ctrl.changeSorting()" 
                                ng-model="$ctrl.sortingPending" 
                                ng-options="item.Title for item in $ctrl.updatedSpotData.Recipe.SortingList"></select>
                    </div>
                </div>

                <div class="recipespot__controls_basket">
                    <button class="recipelist-item__btn btn" ng-click="$ctrl.addToBasket(1)" ng-if="!$ctrl.uiStates.inBasket">
                        <span class="btn__icon icon_basket"></span>
                    </button>
                    <button class="recipelist-item__btn btn btn_cancel" ng-click="$ctrl.removeFromBasket()" ng-if="$ctrl.uiStates.inBasket">
                        <span class="btn__icon icon_trash"></span>
                    </button>
                </div>

                <div class="recipespot-summary">
                    <div class="recipespot-summary-icon">
                        <span class="icon_check"></span>
                    </div>
                    <div class="summary-text" ng-if="$ctrl.messageObject.type === 1">
                        <div class="summary-info products-count">{{$ctrl.messageObject.productsCount}} {{::$ctrl.translationsService.translations.Recipe.Messages.AddedToBasket}}</div>
                        <div class="summary-info servings-count">{{$ctrl.servings}} {{::$ctrl.translationsService.translations.Recipe.Common.Servings}} / {{$ctrl.sorting.Title}}</div>
                    </div>
                    <div ng-if="$ctrl.messageObject.type === 2">
                        <div class="summary-info products-count">{{::$ctrl.translationsService.translations.Recipe.Messages.UpdatedInBasket}}</div>
                        <div class="summary-info servings-count">{{$ctrl.servings}} {{::$ctrl.translationsService.translations.Recipe.Common.Servings}} / {{$ctrl.sorting.Title}}</div>
                    </div>
                </div>
            </div>
			
            <div ng-show="$ctrl.uiStates.showLoader" class="component-loader"></div>
		</div>

	</div>

    <div class="recipespot__overlay" 
        ng-class="{'columns':$ctrl.updatedSpotData.hasSoldOutProducts && $ctrl.updatedSpotData.hasSupplementProducts}"
        ng-if="$ctrl.updatedSpotData.hasSoldOutProducts || $ctrl.updatedSpotData.hasSupplementProducts">

        <div class="recipespot__overlay-column" ng-if="$ctrl.updatedSpotData.hasSupplementProducts">
            <div class="recipespot__overlay-header">
                {{::$ctrl.translationsService.translations.Recipe.List.ExpectedText}}
            </div>
            <div class="recipespot__overlay-items">
                <div class="recipespot__overlay-item" ng-repeat="supplement in $ctrl.updatedSpotData.Recipe.SupplementProducts">
                    {{::supplement.Name}}
                </div>
            </div>
            <a ng-href="{{::$ctrl.updatedSpotData.Recipe.Url}}" class="recipespot__overlay-link">
                {{::$ctrl.translationsService.translations.Recipe.List.SoldoutLinkText}}
            </a>
        </div>
        <div class="recipespot__overlay-column" ng-if="$ctrl.updatedSpotData.hasSoldOutProducts">
            <div class="recipespot__overlay-header">
                {{::$ctrl.translationsService.translations.Recipe.List.SoldoutText}}
            </div>
             <div class="recipespot__overlay-items">
                <div class="recipespot__overlay-item" ng-repeat="item in $ctrl.updatedSpotData.Recipe.SoldOutProducts">
                    {{::item.Name}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="media-spot recipe-spot" 
    ng-if="!$ctrl.hasRecipeItem">

    <div class="spot__content error">
        <h1>Missing recipe item</h1>
        Please choose recipe item for "{{$ctrl.spotdata.Header}}" item
    </div>
</div>