<label>{{ ::$ctrl.translations.Checkout.CustomerAddressInformation.HouseNumber }}*</label>

<input
	ng-model="$ctrl.formData.DeliveryAddress.HouseNumber"
	name="HouseNumberDeliveryAddress"
	id="HouseNumberDeliveryAddress"
	type="tel"
	pattern="[0-9]*"
	required
	placeholder="{{ ::$ctrl.translations.Checkout.CustomerAddressInformationPlaceholder.HouseNumberPlaceholder }}"
	class="form__input"
/>

<div class="form__error-msg">
	<div ng-show="checkoutForm.$submitted" ng-messages="checkoutForm.HouseNumberDeliveryAddress.$error" role="alert">
		<div ng-messages-include="validation-messages"></div>
	</div>
</div>
