<nemlig-loader ng-show="$ctrl.states.fetching" invert="true" class="nemlig-loader nemlig-loader_overlay"></nemlig-loader>

<div class="spot-basic welcome-spot">
	<div class="spot__frame">
		<div ng-if="!$ctrl.spotdata.Order.IsDeliveryOnWay && $ctrl.spotdata.Order" class="spot__box">
			<h1 class="spot__headline">{{::$ctrl.translations.Spots.Welcome.Greeting}} {{$ctrl.user.DeliveryAddress.FirstName}}</h1>
			<div class="spot__frame-text">{{::$ctrl.translations.Spots.Welcome.YourOrderLatest}}:</div>
			<div class="welcome-spot__delivery color_light-grey spot__frame-text">
				<div>{{$ctrl.spotdata.Order.DeliveryAddress}}</div>
				<div>{{$ctrl.spotdata.Order.OrderDate}}</div>
				<div>{{::$ctrl.translations.Spots.Welcome.DeliveryTotal}}: {{$ctrl.spotdata.Order.Total | price}}</div>
			</div>
			<div class="spot__actions spot__frame-text">
				<div class="spot__actions-item" ng-click="$ctrl.copyOrder($ctrl.spotdata.Order.Id, $ctrl.spotdata.Order.OrderNumber)">{{::$ctrl.translations.Spots.Welcome.CopyOrder}}</div>
				<div class="spot__actions-item" ng-click="$ctrl.newOrder()">{{::$ctrl.translations.Spots.Welcome.NewOrder}}</div>
			</div>
			<div class="spot__footer">
				<a ng-href="{{$ctrl.settings.MyNemligPageUrl}}" class="spot__footer-link">{{::$ctrl.translations.Spots.Welcome.GoToMyNemlig}}</a>
			</div>
		</div>
		<div ng-if="$ctrl.spotdata.Order.IsDeliveryOnWay && $ctrl.spotdata.Order.DeliveryStatus === 0" class="spot__box">
			<h1 class="spot__headline">{{::$ctrl.translations.Spots.Welcome.Greeting}} {{$ctrl.user.DeliveryAddress.FirstName}}</h1>
			<div class="spot__frame-text">{{::$ctrl.translations.Spots.Welcome.YourOrderReady}}:</div>
			<div class="welcome-spot__delivery color_light-grey spot__frame-text">
				<div>{{$ctrl.spotdata.Order.DeliveryAddress}}</div>
				<div>{{$ctrl.spotdata.Order.OrderDate}}</div>
				<div>{{::$ctrl.translations.Spots.Welcome.DeliveryTotal}}: {{$ctrl.spotdata.Order.Total | price}}</div>
			</div>
			<div class="spot__actions spot__frame-text">
				<div class="spot__actions-item" ng-click="$ctrl.editOrder($ctrl.spotdata.Order.Id, $ctrl.spotdata.Order.OrderNumber)">{{::$ctrl.translations.Spots.Welcome.EditOrder}}</div>
				<div class="spot__actions-item" ng-click="$ctrl.newOrder()">{{::$ctrl.translations.Spots.Welcome.NewOrder}}</div>
			</div>
			<div class="spot__footer">
				<a ng-href="{{$ctrl.settings.MyNemligPageUrl}}" class="spot__footer-link">{{::$ctrl.translations.Spots.Welcome.GoToMyNemlig}}</a>
			</div>
		</div>
		<div ng-if="$ctrl.spotdata.Order.IsDeliveryOnWay && $ctrl.spotdata.Order.DeliveryStatus === 1" class="spot__box">
			<h1 class="spot__headline">{{::$ctrl.translations.Spots.Welcome.Greeting}} {{$ctrl.user.DeliveryAddress.FirstName}}</h1>
			<div class="spot__frame-text">{{::$ctrl.translations.Spots.Welcome.YourOrderReady}}:</div>
			<div class="welcome-spot__delivery color_light-grey spot__frame-text">
				<div>{{$ctrl.spotdata.Order.DeliveryAddress}}</div>
				<div>{{$ctrl.spotdata.Order.OrderDate}}</div>
				<div>{{::$ctrl.translations.Spots.Welcome.DeliveryTotal}}: {{$ctrl.spotdata.Order.Total | price}}</div>
			</div>
			<div class="spot__actions spot__frame-text">
				<div class="spot__actions-item">
					<a ng-href="{{$ctrl.settings.MyNemligOrderHistoryPageUrl}}?orderid={{$ctrl.spotdata.Order.Id}}">{{::$ctrl.translations.Spots.Welcome.ViewOrder}}</a>
				</div>
				<div class="spot__actions-item" ng-click="$ctrl.newOrder()">{{::$ctrl.translations.Spots.Welcome.NewOrder}}</div>
			</div>
			<div class="spot__footer">
				<a ng-href="{{$ctrl.settings.MyNemligPageUrl}}" class="spot__footer-link">{{::$ctrl.translations.Spots.Welcome.GoToMyNemlig}}</a>
			</div>
		</div>
		<div ng-if="!$ctrl.spotdata.Order.IsDeliveryOnWay && !$ctrl.spotdata.Order" class="spot__box">
			<h1 class="spot__headline">{{::$ctrl.translations.Spots.Welcome.Greeting}} {{$ctrl.user.DeliveryAddress.FirstName}}</h1>
			<div class="spot__actions spot__frame-text">
				<div class="spot__actions-item" ng-click="$ctrl.newOrder()">{{::$ctrl.translations.Spots.Welcome.NewOrder}}</div>
			</div>
			<div class="spot__footer">
				<a ng-href="{{$ctrl.settings.MyNemligPageUrl}}" class="spot__footer-link">{{::$ctrl.translations.Spots.Welcome.GoToMyNemlig}}</a>
			</div>
		</div>
	</div>
</div>


	
