<div class="ad" ng-if="$ctrl.adData.Image.Url && $ctrl.adData != null">
	<a class="ad__link" ng-href="{{$ctrl.adData.Link.Url}}" ng-if="!$ctrl.disableLink" ng-click="$ctrl.trackClick($event)">
		<div ng-if="$ctrl.asBackground" class="ad__image_background" ng-href="{{$ctrl.adData.Link.Url}}" ng-style="$ctrl.adData.Image.Url && {'background-image': 'url(&quot;' + $ctrl.adData.Image.Url + '&quot;)'}"></div>
		<img ng-if="!$ctrl.asBackground" class="ad__image" ng-src="{{$ctrl.adData.Image.Url}}" ng-attr-alt="{{$ctrl.adData.Name}}"/>
	</a>
	
	<div class="ad__disable-link" ng-if="$ctrl.disableLink">
		<div ng-if="$ctrl.asBackground" class="ad__image_background" ng-href="{{$ctrl.adData.Link.Url}}" ng-style="$ctrl.adData.Image.Url && {'background-image': 'url(&quot;' + $ctrl.adData.Image.Url + '&quot;)'}"></div>
		<img ng-if="!$ctrl.asBackground" class="ad__image" ng-src="{{$ctrl.adData.Image.Url}}" ng-attr-alt="{{$ctrl.adData.Name}}"/>
	</div>
</div>
