<a ng-href="{{::$ctrl.product.Url}}">

	<div ng-if="!$ctrl.product.Availability.IsAvailableInStock"></div>

	<div class="ad-product__campaign-splash">
		<campaign-splash campaign="$ctrl.product.Campaign" discount-item="$ctrl.product.DiscountItem"></campaign-splash>
	</div>

	<div class="ad-product__campaign-text">
		<campaign-text campaign="$ctrl.product.Campaign"></campaign-text>
	</div>

	<div class="ad-product__image">
		<img ng-src="{{::$ctrl.product.PrimaryImage}}&w=185&h=185" ng-attr-alt="{{::$ctrl.product.Name}}"/>
	</div>

	<div class="ad-product__favorite icon_heart" ng-if="$ctrl.product.Favorite"></div>

	<div class="ad-product__left-bottom">
		<div class="ad-product__title">{{::$ctrl.product.Name}}</div>
		<div class="ad-product__desc">{{::$ctrl.product.Description}}</div>
	</div>

	<div class="ad-product__right-bottom"
	     ng-class="{ 'ad-product__line-through' : $ctrl.product.Campaign.Type === 'ProductCampaignDiscount' || $ctrl.product.Campaign.Type === 'ProductCampaignDiscountPercent' }">
		<div class="ad-product__price">
			<span>{{$ctrl.product.Price | priceBase}}</span><sup>{{::$ctrl.product.Price | priceDecimals}}</sup>
		</div>
		<div class="ad-product__unit">{{::$ctrl.product.UnitPrice}}</div>

		<div class="ad-product__cta">
			<div class="ad-product__availability-btn btn icon_basket" disabled="disabled" ng-if="!$ctrl.product.Availability.IsAvailableInStock"></div>

			<div class="ad-product__soldout-btn btn btn_notification" ng-click="$ctrl.showDeliveryInfoDialog($event)"
			     ng-if="!$ctrl.product.Availability.IsDeliveryAvailable">
				{{::$ctrl.translationsService.translations.ProductDetail.Availability.DeliveryInfoShort}}
			</div>
		</div>
	</div>
</a>

<addtobasket product-id="$ctrl.product.Id"
			 auto-fold="true"
			 class="ad-product__addtobasket addtobasket"
			 ng-if="$ctrl.product.Availability.IsAvailableInStock && $ctrl.product.Availability.IsDeliveryAvailable"
			 position="ad-product">
</addtobasket>