<div class="minibasket-product" ng-class="{'minibasket-product_show-addtobasket': $ctrl.addToBasketBtn}" ng-mouseleave="$ctrl.hideAddToBasketAfterDelay()">
	<div class="minibasket-product__overlay" ng-click="$ctrl.hideAddToBasketBtn()" ng-mouseenter="$ctrl.cancelHide()"></div>

	<div class="minibasket-product__image-container">
		<a ng-href="{{$ctrl.productData.Url}}" toggle-state="minibasketVisible">
			<img class="minibasket-product__image" ng-src="{{$ctrl.productData.PrimaryImage}}&w=50&h=50" ng-attr-alt="{{::productData.PrimaryImage.Name}}" />
		</a>
	</div>

	<div class="minibasket-product__info">

		<a ng-href="{{$ctrl.productData.Url}}" class="basket-item__text-link" toggle-state="minibasketVisible" title="{{$ctrl.productData.Name}} &#013;{{$ctrl.productData.Description}}">
			<div class="minibasket-product__name">
				{{$ctrl.productData.Name}}
			</div>

			<div class="minibasket-product__description">
				{{$ctrl.productData.Description}}
			</div>
		</a>

		<div class="minibasket-product__discount-text">
			<campaign-text campaign="$ctrl.productData.Campaign"></campaign-text>
		</div>
	</div>

	<div class="minibasket-product__price-container">
		<div class="minibasket-product__price">
			{{$ctrl.productData.Price | price}}
		</div>

		<div class="minibasket-product__item-price">
			{{$ctrl.productData.ItemPrice | price}} {{::$ctrl.translations.Minibasket.HeaderSection.PerUnit}}
		</div>
	</div>

	<div class="minibasket-product__addtobasket-open">
		<div class="minibasket-product__addtobasket-open-btn" ng-click="$ctrl.showAddToBasketBtn()" ng-mouseenter="$ctrl.hoverShowAddToBasketBtn()" ng-mouseleave="$ctrl.hoverCancelShow()">
			{{$ctrl.productData.Quantity}}
		</div>
	</div>

	<div class="minibasket-product__addtobasket-container" ng-mouseenter="$ctrl.cancelHide()">
		<remove-product product-id="$ctrl.productData.Id" class="minibasket-product__remove-product"></remove-product>
		<addtobasket product-id="$ctrl.productData.Id" class="minibasket-product__addtobasket addtobasket addtobasket_small addtobasket_static addtobasket_beige" position="minibasket"></addtobasket>
	</div>
</div>
