<div class="recipelist-onerow partial-content" ng-if="$ctrl.numFound !== 0"
	ng-class="{ 'has-theme-background-color' : $ctrl.hasThemeBackground}"
	ng-style="{'background-color': $ctrl.themeColors.backgroundColor, 'color': $ctrl.themeColors.textColor }">
	
	<div class="recipelist-onerow__headline">
		<h2 class="recipelist-onerow__head">			
			<a ng-if="$ctrl.spotdata.SeeMoreLink" href="{{$ctrl.spotdata.SeeMoreLink.Url}}">{{$ctrl.spotdata.Heading || $ctrl.spotdata.Title}}</a>
			<span ng-if="!$ctrl.spotdata.SeeMoreLink">{{$ctrl.spotdata.Heading || $ctrl.spotdata.Title}}</span>
		</h2>

		<a href="{{$ctrl.spotdata.SeeMoreLink.Url}}" ng-if="$ctrl.spotdata.SeeMoreLink" class="recipelist-onerow__see-all">{{::$ctrl.translationsService.translations.Productlist.OneRow.SeeAll}}</a>
	</div>

	<onerow min-item-width="370" min-items="1" load-size="$ctrl.pageSize" items="$ctrl.recipeData" total-items="$ctrl.numFound" load-more="$ctrl.loadMore()" class="recipelist-onerow__item-container"></onerow>
</div>
