<div class="checkout__content-header" ng-if="$ctrl.states.ShowDeliverySection">
	<h1 class="checkout__content-heading">
		{{::$ctrl.translations.Checkout.General.DeliveryHeadline }}
		<span class="icon_delivery-time"></span>
	</h1>
</div>

<section class="checkout__content" ng-if="$ctrl.states.ShowDeliverySection">

	<nemlig-loader ng-show="$ctrl.states.clearingBasket"
				   inverted="true"
				   class="nemlig-loader nemlig-loader_overlay">
	</nemlig-loader>

	<div class="checkout__checkout-anonymous">
		<form
			class="form"
			name="checkoutForm"
			id="checkoutForm"
			ng-submit="$ctrl.submitAnonymousForm(checkoutForm, $ctrl.formData)" novalidate>

			<div class="checkout__segment-block">
				<div class="row__col-12_below-small">

					<div class="login-user">
						<div class="login-user__headline h4">
							{{ ::$ctrl.translations.Checkout.Login.AlreadyCustomerSubLine }}
						</div>

						<div class="login-user__button">
							<a ng-href="{{$ctrl.settingsService.settings.LoginPageUrl}}"
								class="btn checkout__button">
								{{ ::$ctrl.translations.Checkout.Login.LoginButtonText }}
							</a>
						</div>

					</div>

				</div>
			</div>

			<!-- Invoice information-->
			<div class="checkout__segment-block">
				<div class="checkout__form-wrapper">

					<h2>
						{{::$ctrl.translations.Checkout.General.CustomerInformationHeadLine }}
					</h2>

					<ng-include src="'customer-type-selection'"></ng-include>

					<ng-include src="'email'"></ng-include>

					<!-- Invoice Elements for member types-->
					<ng-include ng-if="$ctrl.showInformationFor('Private')"
								src="'customer-type-private'">
					</ng-include>

					<ng-include ng-if="$ctrl.showInformationFor('Business')"
								src="'customer-type-company'">
					</ng-include>

					<ng-include ng-if="$ctrl.showInformationFor('Public')"
								src="'customer-type-government'">
					</ng-include>

					<!-- Sign up to newsletters & recipe -->
					<ng-include src="'sign-up-to'"></ng-include>

				</div>
			</div>

			<!-- Alternative delivery information-->
			<div class="checkout__segment-block">
				<div class="checkout__form-wrapper">

					<h2>{{ ::$ctrl.translations.Checkout.AlternativeDeliveryAddress.DeliveryAddressHeadLine }}</h2>
					<!-- Switch if alternative address is desired-->
					<ng-include src="'use-alternative-delivery-address'"></ng-include>

					<!-- Alternative delivery Information inputs -->
					<div ng-if="$ctrl.formData.InvoiceAddressIsDeliveryAddress === false || $ctrl.formData.InvoiceAddressIsDeliveryAddress === null">

						<!-- Delivery information-->
						<div class="segment-wrapper row">
							<div class="row__col-6">
								<ng-include src="'contact-person-delivery-address'"></ng-include>
							</div>

							<div class="row__col-6">
								<ng-include src="'company-name-delivery-address'"></ng-include>
							</div>
						</div>

						<!-- Postal location-->
						<div class="segment-wrapper row">
							<div class="row__col-3 row__col-3_below-small">
								<ng-include src="'postal-code-delivery-address'"></ng-include>
							</div>

							<div class="row__col-9 row__col-9_below-small postal-district">
								<ng-include src="'postal-district-delivery-address'"></ng-include>

								<span ng-show="$ctrl.formData.InvoiceAddressIsDeliveryAddress" 
									ng-click="$ctrl.changeDeliveryZone()" 
									class="icon icon_pencil checkout__pencil"></span>
							</div>
						</div>

						<!-- Alternative delivery Street selection -->
						<div class="segment-wrapper row">
							<div class="row__col-9">
								<ng-include src="'street-name-delivery-address'"></ng-include>
							</div>

							<div class="row__col-3">
								<ng-include src="'house-nr-alternative-address'"></ng-include>
							</div>
						</div>

						<!-- Alternative delivery location selection -->
						<div class="segment-wrapper row">
							<div class="row__col-3">
									<ng-include src="'house-location-letter-delivery-address'"></ng-include>
							</div>

							<div class="row__col-3">
									<ng-include src="'house-location-floor-delivery-address'"></ng-include>
							</div>

							<div class="row__col-3">
									<ng-include src="'house-location-side-delivery-address'"></ng-include>
							</div>

								<div class="row__col-3">
									<ng-include src="'house-location-doorNumber-delivery-address'"></ng-include>
								</div>
							</div>

						<!-- Phone Numbers-->
						<div class="segment-wrapper row">
							<div class="row__col-6">
								<ng-include src="'delivery-address-mobil-phone'"></ng-include>
							</div>

							<div class="row__col-6">
								<ng-include src="'delivery-address-phone'"></ng-include>
							</div>
						</div>
					</div>

				</div>
			</div>

			<!-- Return of bottles -->
			<div class="checkout__segment-block">
				<div class="checkout__return-bottles">
					<div class="h3">
						{{ ::$ctrl.translations.Checkout.ReturnBottles.ReturnBottlesHeadline }}
						<span class="color_light-grey small-text">{{ ::$ctrl.translations.Checkout.ReturnBottles.ReturnBottlesHeadlineNotification }}</span>
					</div>

					<return-of-bottles model="$ctrl.formData.ReturnOfBottlesRequested"></return-of-bottles>

					<!-- The message to driver -->
					<h3>{{ ::$ctrl.translations.Checkout.ReturnBottles.MessageToTheDriverHeadlineText }}</h3>
					<message-to-driver show-text-area="true"
										message="$ctrl.formData.Notes">
					</message-to-driver>
				</div>
			</div>


			<div class="checkout__segment-block checkout-anonymous__bottom">
				<h2>{{ ::$ctrl.translations.Checkout.Agreements.General.AgreementsHeadline }}*</h2>
			
				<div class="checkout-anonymous__bottom-columns">
					<div class="checkout-anonymous__bottom_left checkout__agreements">
						<div class="checkout__agreements__box">
							<ng-include src="'agreement-correct-information'"></ng-include>
							<terms-and-agreements show-check-box="true" accept-terms-and-agreement="$ctrl.formData.TermsAndConditionsAccepted"></terms-and-agreements>
							<minimum-age-agreements ng-if="$ctrl.states.Agreements.ShowMinimumAgeRequired"
													minimum-age-is="$ctrl.states.MinimumAgeForBasket"
													accept-minimum-age="$ctrl.formData.AcceptMinimumAge"></minimum-age-agreements>
						</div>
					</div>
					<div class="checkout-anonymous__bottom_right">
						<basket-summary></basket-summary>
					</div>
				</div>
			</div>


			<div class="checkout__navigation">

				<!--go Back button -->
				<div class="checkout__navigation_go-back-button">
					<div class="btn btn_grey"
							ng-click="$ctrl.goBackToBasket()">
						{{::$ctrl.translations.Checkout.General.BackToBasketButtonText }}
					</div>
				</div>

				<!--payment button -->
				<div class="checkout__navigation_pay-button">
					<ng-include src="'pay-button'"></ng-include>
				</div>

			</div>

		</form>
	</div>


</section>
