<a ng-href="{{$ctrl.spotdata.SpotLink.Url}}"
   class="brand-spot-content"
   target="{{$ctrl.spotdata.SpotLink.LinkType === 'external' ? '_blank' : ''}}"
   ng-if="$ctrl.spotdata.SpotLink.Url" 
   ng-class="{'hide-on-mobile': !$ctrl.VisibleOnMobile}">
	<div class="aspect-ratio">
		<div class="spot__media-wrapper">
			<div class="aspect-ratio">
				<img class="spot__media" ng-src="{{$ctrl.spotdata.BrandLogoForJson.Url}}&width=352&height=200&mode=max&quality=70" ng-attr-alt="{{::$ctrl.spotdata.BrandName}}"/>
			</div>
		</div>
		<div class="spot__content">
			<h1 class="spot__headline" ng-if="$ctrl.spotdata.BrandName != ''">{{::$ctrl.spotdata.BrandName}}</h1>
			<div class="spot__text" ng-if="$ctrl.spotdata.SpotText != ''">{{::$ctrl.spotdata.SpotText}}</div>
		</div>
	</div>
</a>

<div class="brand-spot-content" ng-if="!$ctrl.spotdata.SpotLink.Url" ng-class="{'hide-on-mobile': !$ctrl.VisibleOnMobile}">
	<div class="aspect-ratio">
		<div class="spot__media-wrapper">
			<div class="aspect-ratio">
				<img class="spot__media" ng-src="{{$ctrl.spotdata.BrandLogoForJson.Url}}&width=352&height=200&mode=max&quality=70" ng-attr-alt="{{::$ctrl.spotdata.BrandName}}"/>
			</div>
		</div>
		<div class="spot__content">
			<h2 class="spot__headline" ng-if="$ctrl.spotdata.BrandName != ''">{{::$ctrl.spotdata.BrandName}}</h2>
			<div class="spot__text" ng-if="$ctrl.spotdata.SpotText != ''">{{::$ctrl.spotdata.SpotText}}</div>
		</div>
	</div>
</div>