
<nemlig-loader ng-show="$ctrl.states.fetching" invert="true" class="nemlig-loader nemlig-loader_small nemlig-loader_overlay"></nemlig-loader>

<div class="order__header" ng-click="$ctrl.toggleOpen()">
	<div>
		<span class="icon_up" ng-show="$ctrl.states.open"></span>
		<span class="icon_down" ng-show="!$ctrl.states.open"></span>
	</div>
	<div><span class="order__print-title">{{::$ctrl.translations.MyNemlig.OrderHistory.DeliveryDate}}</span> {{$ctrl.data.OrderDate}}</div>
	<div><span class="order__print-title">{{::$ctrl.translations.MyNemlig.OrderHistory.OrdersId}}</span> {{$ctrl.data.OrderNumber}}</div>
	<div><span class="order__print-title">{{::$ctrl.translations.MyNemlig.OrderHistory.OrdersPrice}}</span> {{$ctrl.data.Total | price}}</div>

	<div>
		<div ng-if="$ctrl.data.Status === 0 || $ctrl.data.Status === 1">
			<div ng-if="$ctrl.data.DeliveryStatus === 0">
				<span>{{::$ctrl.translations.MyNemlig.OrderHistory.OrderStatus1}}</span>
				<span class="icon_basket-check order__icon"></span>
			</div>
			<div ng-if="$ctrl.data.DeliveryStatus !== 0">
				<span>{{::$ctrl.translations.MyNemlig.OrderHistory.OrderStatus2}}</span>
				<span class="icon_delivery order__icon"></span>
			</div>
		</div>
		<div ng-if="$ctrl.data.Status === 2 || $ctrl.data.Status === 3">
			<span>{{::$ctrl.translations.MyNemlig.OrderHistory.OrderStatus3}}</span>
			<span class="icon_check color_green order__icon"></span> 
		</div>
		<div ng-if="$ctrl.data.Status === 4">
			<span>{{::$ctrl.translations.MyNemlig.OrderHistory.OrderStatus4}}</span>
			<span class="icon_check color_green order__icon"></span>
		</div>
	</div>
</div>


<div class="order__body">
	<div class="order__controls">

		<div class="order__controls-item" ng-if="$ctrl.data.Buttons.indexOf(4) != -1" ng-click="$ctrl.copyOrder($ctrl.data.Id, $ctrl.data.OrderNumber)">
			<span class="query_above-x-small">{{::$ctrl.translations.MyNemlig.OrderHistory.OrderControlCopy}}</span>
			<span class="query_below-small">{{::$ctrl.translations.MyNemlig.OrderHistory.OrderControlCopySmall}}</span>
			<span class="item-icon icon_basket"></span>
		</div>
		<div class="order__controls-item" ng-if="$ctrl.data.Buttons.indexOf(1) != -1" ng-click="$ctrl.cancelOrder($ctrl.data.Id, $ctrl.data.OrderNumber)">
			<span class="query_above-x-small">{{::$ctrl.translations.MyNemlig.OrderHistory.OrderControlCancel}}</span>
			<span class="query_below-small">{{::$ctrl.translations.MyNemlig.OrderHistory.OrderControlCancelSmall}}</span>
			<span class="item-icon icon_close"></span>
		</div>
		<div class="order__controls-item" ng-if="$ctrl.data.Buttons.indexOf(2) != -1" ng-click="$ctrl.editOrder($ctrl.data.Id, $ctrl.data.OrderNumber)">
			<span class="query_above-x-small">{{::$ctrl.translations.MyNemlig.OrderHistory.OrderControlEdit}}</span>
			<span class="query_below-small">{{::$ctrl.translations.MyNemlig.OrderHistory.OrderControlEditSmall}}</span>
			<span class="item-icon icon_pencil"></span>
		</div>
		<div class="order__controls-item" ng-click="$ctrl.printOrder($ctrl.data.Id, $ctrl.data.OrderNumber)">
			<span class="query_above-x-small">{{::$ctrl.translations.MyNemlig.OrderHistory.OrderControlPrint}}</span>
			<span class="query_below-small">{{::$ctrl.translations.MyNemlig.OrderHistory.OrderControlPrintSmall}}</span>
			<span class="item-icon icon_print"></span>
		</div>

	</div>
	<div class="order__items">

		<div class="order__item order__item_head">
			<div>
				<span class="query_above-x-small">{{::$ctrl.translations.MyNemlig.OrderHistory.OrderTitle}}</span>
				<span class="query_below-small">{{::$ctrl.translations.MyNemlig.OrderHistory.OrderTitleSmall}}</span>
			</div>
			<div>
				<span class="query_above-x-small">{{::$ctrl.translations.MyNemlig.OrderHistory.OrderUnit}}</span>
				<span class="query_below-small">{{::$ctrl.translations.MyNemlig.OrderHistory.OrderUnitSmall}}</span>
			</div>
			<div>
				<span class="query_above-x-small">{{::$ctrl.translations.MyNemlig.OrderHistory.OrderQuantity}}</span>
				<span class="query_below-small">{{::$ctrl.translations.MyNemlig.OrderHistory.OrderQuantitySmall}}</span>
			</div>
			<div>
				<span class="query_above-x-small">{{::$ctrl.translations.MyNemlig.OrderHistory.OrderPrice}}</span>
				<span class="query_below-small">{{::$ctrl.translations.MyNemlig.OrderHistory.OrderPriceSmall}}</span>
			</div>
			<div>
				<span class="query_above-x-small">{{::$ctrl.translations.MyNemlig.OrderHistory.OrderDiscount}}</span>
				<span class="query_below-small">{{::$ctrl.translations.MyNemlig.OrderHistory.OrderDiscountSmall}}</span>
			</div>
			<div>
				<span class="query_above-x-small">{{::$ctrl.translations.MyNemlig.OrderHistory.OrderPriceTotal}}</span>
				<span class="query_below-small">{{::$ctrl.translations.MyNemlig.OrderHistory.OrderPriceTotalSmall}}</span>
			</div>
		</div>

		<div ng-repeat="group in $ctrl.lineGroups track by group.Title" class="order__items-group">
			<div class="order__item order__item_category">{{group.Title}}</div>
			<order-item ng-repeat="line in group.Lines | orderBy : 'ProductName' " data="line"></order-item>
		</div>

	</div>
	<order-summary data="$ctrl.data"></order-summary>
</div>
