<div class="orderconfirmation" ng-if="$ctrl.validOrder && !$ctrl.fetching">
	<div class="orderconfirmation__intro">
		<span class="orderconfirmation__check icon_check"></span>
		<h1>{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.Header}}</h1>
		{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.Delivery}} {{$ctrl.orderData.OrderDeliveryStartTime.Date | date : "EEEE '" + $ctrl.translationsService.translations.General.Time.DayAbbreviation +"' dd/MM'"}} {{::$ctrl.translationsService.translations.General.Time.TimeUnit}} {{$ctrl.orderData.OrderDeliveryStartTime.Hours}} - {{$ctrl.orderData.OrderDeliveryEndTime.Hours}} 

		<div class="orderconfirmation__calendarlink">
			<a ng-href="/webapi/checkout/GetCalendarNote?orderNumber={{$ctrl.orderNumber}}&uniqueId={{$ctrl.uniqueId}}&basketId={{$ctrl.basketId}}" download target="_self">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.CalendarAddLinkText}} <span class="icon_calendar-add"></span></a>
		</div>
	</div>


	<div class="orderconfirmation__edit_mobile" ng-if="$ctrl.userService.states.isLoggedIn">
		<div class="orderconfirmation__editted">
			<span class="orderconfirmation__key">
				{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.LastEditDate}}
			</span>

			<span class="orderconfirmation__value">
				{{$ctrl.orderData.OrderDeadlineDate.Date | date : "dd/MM '" + $ctrl.translationsService.translations.General.Time.TimeUnit + "'"}} {{$ctrl.orderData.OrderDeadlineDate.Hours}}.{{$ctrl.orderData.OrderDeadlineDate.Minutes}}
			</span>
		</div>

		<a ng-href="{{$ctrl.orderHistoryPageUrl}}" class="orderconfirmation__edit-button btn">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.EditOrder}}</a>
	</div>

	<accordion-group>
		<accordion is-open="true" class="orderconfirmation__accordion">
			<toggle>
				<h4 class="orderconfirmation__subheader">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.SubHeader}}</h4>
			</toggle>

			<content>
				<div class="orderconfirmation__summary">
					<div class="orderconfirmation__summary-info">
						<span class="orderconfirmation__key">
							{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.OrderNumber}}:
						</span>
						<span class="orderconfirmation__value">
							{{$ctrl.orderData.OrderNumber}}
						</span>
					</div>

					<div class="orderconfirmation__summary-info">
						<span class="orderconfirmation__key">
							{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.OrderDate}}:
						</span>
						<span class="orderconfirmation__value">
							{{$ctrl.orderData.OrderCreatedDate.Date | date : "dd/MM-yyyy"}}
						</span>
					</div>

					<div class="orderconfirmation__summary-info">
						<span class="orderconfirmation__key">
							{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.OrderAmount}}:
						</span>
						<span class="orderconfirmation__value">
							{{$ctrl.orderData.TotalPrice | price}}
						</span>
					</div>

					<div class="orderconfirmation__summary-info">
						<span class="orderconfirmation__key">
							{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.OrderCardFee}}:
						</span>
						<span class="orderconfirmation__value">
							{{$ctrl.orderData.CreditCardFee | price}}
						</span>
					</div>

					<div class="orderconfirmation__card" ng-if="!$ctrl.userService.states.isLoggedIn">
						<span class="orderconfirmation__key">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.PaymentMethod}}</span>:
						<span class="orderconfirmation__value"> 
							{{$ctrl.translationsService.translations.Payment.PaymentMethods[$ctrl.paymentMethodName]}}
						</span>
					</div>
					<div class="orderconfirmation__card" ng-if="$ctrl.userService.states.isLoggedIn">
						<span class="orderconfirmation__key">
							{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.PaymentMethod}}
						</span>
						
						<span class="orderconfirmation__value" ng-show="$ctrl.paymentMethodName == 'PaymentCard' && $ctrl.unknownCard">
							{{$ctrl.translationsService.translations.Payment.PaymentMethods[$ctrl.paymentMethodName]}}
						</span>

						<span class="orderconfirmation__value" ng-show="$ctrl.paymentMethodName == 'PaymentCard' && !$ctrl.unknownCard">
							{{$ctrl.translationsService.translations.Payment.CreditcardTypes[$ctrl.paymentcardCode]}}
							{{$ctrl.orderData.CreditCardNumber}}
						</span>
					</div>

					<div class="orderconfirmation__orderinfo">
						<!-- If addresses are equal, we use the invoice address data instead of the delivery address data -->
						<div class="orderconfirmation__orderinfo-column" ng-switch="$ctrl.orderData.AddressesAreEqual">
							<div ng-switch-when="true">
								<div class="orderconfirmation__key">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.DeliveryAddress}}</div>
								<div class="orderconfirmation__value">{{$ctrl.orderData.InvoiceAddress.Name}}</div>
								<div class="orderconfirmation__value">{{$ctrl.orderData.InvoiceAddress.StreetName}} {{$ctrl.orderData.InvoiceAddress.HouseNumber}} {{$ctrl.orderData.InvoiceAddress.HouseNumberLetter}} {{$ctrl.orderData.InvoiceAddress.Floor}} {{$ctrl.orderData.InvoiceAddress.Side}}</div>
								<div class="orderconfirmation__value">{{$ctrl.orderData.InvoiceAddress.PostalCode}} {{$ctrl.orderData.InvoiceAddress.PostalDistrict}}</div>
							</div>

							<div ng-switch-when="false">
								<div class="orderconfirmation__key">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.DeliveryAddress}}</div>
								<div class="orderconfirmation__value">{{$ctrl.orderData.DeliveryAddress.CompanyName}}</div>
								<div class="orderconfirmation__value">{{$ctrl.orderData.DeliveryAddress.ContactPerson}}</div>
								<div class="orderconfirmation__value">
									{{$ctrl.orderData.DeliveryAddress.StreetName}} 
									{{$ctrl.orderData.DeliveryAddress.HouseNumber}} 
									{{$ctrl.orderData.DeliveryAddress.HouseNumberLetter}} 
									{{$ctrl.orderData.DeliveryAddress.Floor}} 
									{{$ctrl.orderData.DeliveryAddress.Side}}
								</div>
								<div class="orderconfirmation__value">{{$ctrl.orderData.DeliveryAddress.PostalCode}} {{$ctrl.orderData.DeliveryAddress.PostalDistrict}}</div>
							</div>
						</div>						

						<div class="orderconfirmation__orderinfo-column">
							<div class="orderconfirmation__key">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.BillingAddress}}</div>
							<div class="orderconfirmation__value">{{$ctrl.orderData.InvoiceAddress.Name}}</div>
							<div class="orderconfirmation__value">{{$ctrl.orderData.InvoiceAddress.StreetName}} {{$ctrl.orderData.InvoiceAddress.HouseNumber}} {{$ctrl.orderData.InvoiceAddress.HouseNumberLetter}} {{$ctrl.orderData.InvoiceAddress.Floor}} {{$ctrl.orderData.InvoiceAddress.Side}}</div>
							<div class="orderconfirmation__value">{{$ctrl.orderData.InvoiceAddress.PostalCode}} {{$ctrl.orderData.InvoiceAddress.PostalDistrict}}</div>
						</div>
						<div class="orderconfirmation__orderinfo-column">
							<div class="orderconfirmation__key">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.Contact}}</div>
							<div class="orderconfirmation__value">{{$ctrl.orderData.Email}}</div>
							<div class="orderconfirmation__value" ng-if="$ctrl.orderData.InvoiceAddress.MobileNumber === $ctrl.orderData.DeliveryAddress.MobileNumber">{{$ctrl.orderData.InvoiceAddress.MobileNumber}}</div>
							<div class="orderconfirmation__value" ng-if="$ctrl.orderData.InvoiceAddress.MobileNumber !== $ctrl.orderData.DeliveryAddress.MobileNumber">{{$ctrl.orderData.DeliveryAddress.MobileNumber}}</div>
						</div>
					</div>

					<div class="orderconfirmation__edit" ng-if="$ctrl.userService.states.isLoggedIn">
						<div class="orderconfirmation__editted">
							<span class="orderconfirmation__key">
								{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.LastEditDate}}
							</span>

							<span class="orderconfirmation__value">
								{{$ctrl.orderData.OrderDeadlineDate.Date | date : "dd/MM "}} {{::$ctrl.translationsService.translations.General.Time.TimeUnit}} {{$ctrl.orderData.OrderDeadlineDate.Hours}}.{{$ctrl.orderData.OrderDeadlineDate.Minutes}}
							</span>
						</div>

						<a ng-href="{{$ctrl.orderHistoryPageUrl}}?ordernumber={{$ctrl.orderNumber}}" class="orderconfirmation__edit-button btn">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.EditOrder}}</a>
					</div>
				</div>
			</content>
		</accordion>

		<accordion class="orderconfirmation__accordion">
			<toggle>
				<h4 class="orderconfirmation__subheader">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.OrderDetails}}</h4>
			</toggle>
			<content>
				<div class="orderconfirmation__detail">
					<div class="orderconfirmation__detail-row orderconfirmation__detail-row_head">
						<div class="orderconfirmation__detail-head">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.ProductName}}</div>
						<div class="orderconfirmation__detail-head">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.ProductUnit}}</div>
						<div class="orderconfirmation__detail-head">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.ProductQuantity}}</div>
						<div class="orderconfirmation__detail-head">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.ProductPricePerUnit}}</div>
						<div class="orderconfirmation__detail-head">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.ProductDiscountPerUnit}}</div>
						<div class="orderconfirmation__detail-head">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.ProductPrice}}</div>
					</div>

					<div ng-repeat="mainGroup in $ctrl.mainGroupArray">
						<div class="orderconfirmation__detail-group">{{mainGroup}}</div>

						<div class="orderconfirmation__detail-row" ng-repeat="line in $ctrl.orderData.Lines" ng-if="line.MainGroupName === mainGroup">
							<div class="orderconfirmation__detail-data">{{line.Name}}</div>
							<div class="orderconfirmation__detail-data">{{line.Description}}</div>
							<div class="orderconfirmation__detail-data">{{line.Quantity}}</div>
							<div class="orderconfirmation__detail-data">{{line.ItemPrice | price}}</div>
							<div class="orderconfirmation__detail-data orderconfirmation__value_orange">{{line.DiscountSavings | price}}</div>
							<div class="orderconfirmation__detail-data">{{line.Price | price}}</div>
						</div>
					</div>
					
					<div ng-if="$ctrl.orderData.Recipes && $ctrl.orderData.Recipes.length > 0">
						<div class="orderconfirmation__detail-group">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.RecipeHeader}}</div>

						<div class="orderconfirmation__detail-row" ng-repeat="recipe in $ctrl.orderData.Recipes">
							<div class="orderconfirmation__detail-data orderconfirmation__detail-data_full">{{recipe.Title}}</div>
						</div>
					</div>
				</div>

				<div class="orderconfirmation__total">
					<div class="orderconfirmation__total-row">
						<div class="orderconfirmation__total-data">
							<span class="orderconfirmation__key">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.OrderCount}}:</span>
							<span class="orderconfirmation__value">{{$ctrl.orderData.NumberOfProducts}} {{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.SummaryProductsUnit}}</span>
						</div>
						<div class="orderconfirmation__total-data orderconfirmation__key">{{$ctrl.orderData.TotalProductsPrice | price}}</div>
					</div>

					<div class="orderconfirmation__total-row">
						<div class="orderconfirmation__total-data">
							<span class="orderconfirmation__key">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.OrderDeposit}}:</span>
							<span class="orderconfirmation__value">{{$ctrl.orderData.NumberOfDeposits}} {{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.SummaryDepositUnit}}</span>
						</div>
						<div class="orderconfirmation__total-data orderconfirmation__key">{{$ctrl.orderData.TotalDepositsPrice | price}}</div>
					</div>

					<div class="orderconfirmation__total-row">
						<div class="orderconfirmation__total-data">
							<span class="orderconfirmation__key">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.OrderBags}}:</span>
							<span class="orderconfirmation__value">{{$ctrl.orderData.NumberOfBags}} {{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.SummaryBagsUnit}}</span>
						</div>
						<div class="orderconfirmation__total-data orderconfirmation__key">{{$ctrl.orderData.TotalBagsPrice | price}}</div>
					</div>

					<div class="orderconfirmation__total-row">
						<div class="orderconfirmation__total-data">
							<span class="orderconfirmation__key">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.OrderFreight}}:</span>
						</div>
						<div class="orderconfirmation__total-data orderconfirmation__key">{{$ctrl.orderData.DeliveryPrice | price}}</div>
					</div>
					<div class="orderconfirmation__total-row">
						<div class="orderconfirmation__total-data">
							<span class="orderconfirmation__key">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.OrderCardFee}}:</span>
						</div>
						<div class="orderconfirmation__total-data orderconfirmation__key">{{$ctrl.orderData.CreditCardFee | price}}</div>
					</div>
					<div class="orderconfirmation__total-row" ng-show="$ctrl.orderData.Coupons || $ctrl.orderData.CouponDiscount !== 0">
						<div class="orderconfirmation__total-data">
							<span class="orderconfirmation__key">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.CouponDiscount}}:</span>
						</div>
						<div class="orderconfirmation__total-data orderconfirmation__key_orange">{{$ctrl.orderData.CouponDiscount | price}}</div>
					</div>
					<div class="orderconfirmation__total-row">
						<div class="orderconfirmation__total-data">
							<span class="orderconfirmation__key">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.NemligAccount}}:</span>
						</div>
						<div class="orderconfirmation__total-data orderconfirmation__key_orange">-{{$ctrl.orderData.NemligAccount | price}}</div>
					</div>
					<div class="orderconfirmation__total-row orderconfirmation__total-row_total">
						<div class="orderconfirmation__total-data">
							<span class="orderconfirmation__key">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.OrderTotal}}</span>
							<span class="orderconfirmation__value">
								({{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.OfWhichVAT}} {{$ctrl.orderData.VAT}}% {{$ctrl.orderData.TotalVatPrice | price}})
							</span>
						</div>
						<div class="orderconfirmation__total-data">{{$ctrl.orderData.TotalPrice | price}}</div>
					</div>
					<div class="orderconfirmation__total-row orderconfirmation__total-row_saved-discount">
						<div class="orderconfirmation__total-data">
							<span class="orderconfirmation__key">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.OrderDiscount}}:</span>
						</div>
						<div class="orderconfirmation__total-data orderconfirmation__key_orange">{{$ctrl.orderData.TotalProductDiscountPrice | price}}</div>
					</div>
				</div>

				<div class="orderconfirmation__return">
					<div class="orderconfirmation__return-head">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.ReturnDeposit}}</div>
					<div class="orderconfirmation__return-check">
						<div class="form__checkbox">
							<input type="checkbox" class="ng-invalid ng-dirty" ng-checked="$ctrl.orderData.ReturnOfBottlesRequested" disabled/>
							<label>
								{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.ReturnDepositText}}
								<span class="orderconfirmation__value_orange">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.ReturnDeposit}}</span>
							</label>
							<div class="form__ui">
								<span class="icon_check"></span>
							</div>
						</div>
					</div>
				</div>
			</content>
		</accordion>
	</accordion-group>

	<a class="orderconfirmation__frontpage-btn btn btn_fit" href="/">{{::$ctrl.translationsService.translations.Checkout.OrderConfirmation.FrontPageLink}}</a>
</div>

<errorpage pagedata="$ctrl.errorObj" ng-if="!$ctrl.validOrder && !$ctrl.fetching"></errorpage>

<div class="orderconfirmation__loader" ng-if="$ctrl.fetching">
	<nemlig-loader class="nemlig-loader nemlig-loader_large"></nemlig-loader>
</div>
