<div class="timeslot-statusbutton"
	 ng-class="{
	 'disabled': $ctrl.buttonDisabled,
	 'timeslot-reminder': $ctrl.buttonState == 1,
	 'timeslot-selection': $ctrl.selectorActive,
	 'timeslot-selected': $ctrl.buttonState == 3}"
	 ng-show="$ctrl.timeslotIsReadyToInit"
	 ng-click="$ctrl.statusButtonClick()"
	 ng-switch="$ctrl.buttonState">

	<span class="timeslot-statusbutton__text" ng-switch-when="0">{{::$ctrl.translations.Timeslot.StatusButton.ButtonTextState1}}</span>
	<span class="timeslot-statusbutton__text" ng-switch-when="1">{{::$ctrl.translations.Timeslot.StatusButton.ButtonTextState2}}</span>
	<span class="timeslot-statusbutton__text" ng-switch-when="2">{{::$ctrl.translations.Timeslot.StatusButton.ButtonTextState3}}</span>
	<span class="timeslot-statusbutton__text" ng-switch-when="3">{{$ctrl.formattedDeliveryTime }}</span>

</div>