<div class="no-delivery">
	<form name="Form" ng-submit="$ctrl.subscriptionSubmit()" novalidate ng-hide="$ctrl.subscriptionSuccess">

		<div class="dialog__content-block">
			<div class="dialog__content-block__header">
				{{::$ctrl.translations.Timeslot.NoDeliveryDialog.GetNotifiedText1}}
			</div>
			<div>
				{{::$ctrl.translations.Timeslot.NoDeliveryDialog.NoDeliveryInPostCode}} <span class="color_primary">{{::$ctrl.zipCode}}</span>. {{::$ctrl.translations.Timeslot.NoDeliveryDialog.GetNotifiedText2}}
			</div>
		</div>

		<div class="dialog__content-block">
			<ng-include src="'form-email'"></ng-include>
		</div>

		<div class="dialog__content-block">

			<div class="form__checkbox">
				<input type="checkbox" id="form-delivery-notification" name="form-delivery-notification"
					   ng-checked="checked"
					   ng-model="$ctrl.formData.deliveryNotificationSubscription"
					   ng-required="true" />
				<label for="form-delivery-notification">{{::$ctrl.translations.Timeslot.NoDeliveryDialog.GetNotifiedCheckboxLabel}}</label>
				<div class="form__ui">
					<span class="icon_check"></span>
				</div>
			</div>

		</div>

		<div class="dialog__content-block">

			<div class="form__checkbox">
				<input type="checkbox"
				       name="form-newsletter"
				       id="form-newsletter"
				       ng-model="$ctrl.formData.newsletterSubscription"
				       ng-change="$ctrl.newsletterSelection()"/>

				<label for="form-newsletter">{{::$ctrl.translations.Timeslot.NoDeliveryDialog.NewsletterCheckboxLabel}}</label>
				<div class="form__ui">
					<span class="icon_check"></span>
				</div>
			</div>

			<div class="newsletter-options">
				<div class="dialog__content-block">
					<div class="form__checkbox">
						<input type="checkbox" id="form-newsletter-weekly-offers" name="form-newsletter-weekly-offers"
						       ng-disabled="!$ctrl.formData.newsletterSubscription"
						       ng-model="$ctrl.formData.newsletterWeeklyOffersSubscription"/>

						<label for="form-newsletter-weekly-offers">{{::$ctrl.translations.Timeslot.NoDeliveryDialog.NewsletterWeeklyOffersCheckboxLabel}}</label>
						<div class="form__ui">
							<span class="icon_check"></span>
						</div>
					</div>
				</div>
				<div class="dialog__content-block">
					<div class="form__checkbox">
						<input type="checkbox" id="form-newsletter-cooking-inspiration" name="form-newsletter-cooking-inspiration"
						       ng-disabled="!$ctrl.formData.newsletterSubscription"
						       ng-model="$ctrl.formData.newsletterCookingInspirationSubscription"/>

						<label for="form-newsletter-cooking-inspiration">{{::$ctrl.translations.Timeslot.NoDeliveryDialog.NewsletterCookingInspirationCheckboxLabel}}</label>
						<div class="form__ui">
							<span class="icon_check"></span>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="dialog__content-block">
			<button class="btn full-width" type="submit" ng-disabled="Form.$invalid">{{::$ctrl.translations.Timeslot.NoDeliveryDialog.SubmitButtonText}}</button>
		</div>
	</form>

	<div class="dialog__content-block" ng-show="$ctrl.subscriptionSuccess">
		<div class="dialog__content-block__header">
			
			{{::$ctrl.translations.Timeslot.NoDeliveryDialog.GetNotifiedSuccessHeader}}
		</div>
		<div>
			<span class="color_primary">{{::$ctrl.formData.email}}</span>
			{{::$ctrl.translations.Timeslot.NoDeliveryDialog.GetNotifiedSuccessText}}.
		</div>
	</div>
</div>


